*{
    margin: 0;
    padding: 0;
    font-size: 16px;
}
.inputAll{
    width: 100%;
    align-items: center;
}
.buttoninput{
    width: 4%;
    background-color: rgb(0, 230, 250);
    border:2px solid rgb(0, 230, 250) ;
    height: 36.5px;
    align-items: center;
    cursor: pointer;
}
.imginput{
    width: 12px;
    
}
.inputHome{
     align-items: center;
     margin-left: 10%;
     width: 40%;
     outline: none;
     padding: 8px;
     
     
     
}
::-webkit-input-placeholder {
    padding:10px; 
}

.HeaderHome{
    padding-inline: 20px;
    position: fixed;
    width: 100%;
    background-color: rgb(0, 37, 37);
    height: 10%;
    display: flex;
    align-items: center;
    top: 0;
    z-index: 1;
}
.icon{
   position: relative;
   width:80px;
}
.spanShopping{
    color: rgb(0, 230, 250);
    font-size: 18px;
}
.spanPedro{
    color: rgb(255, 255, 255);
}